<ion-card [ngStyle]="{'background-color': data.bgcolor}" *ngIf="data.data.length > 0">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': data.highlightcolor}">{{data.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': data.highlightcolor}" >{{data.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': data.textcolor, 'font-weight': 'bold'}">

    <ion-grid>
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="4">Name</ion-col>
        <ion-col size="1">Rank</ion-col>
        <ion-col size="1">Pts</ion-col>
        <ion-col size="1">BP</ion-col>
        <ion-col size="1">BC</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data">
        <ion-col size="4" class="line_case">{{t.team_name}}</ion-col>
        <ion-col size="1" class="line_case">{{t.rank}}</ion-col>
        <ion-col size="1" class="line_case">{{t.Pts}}</ion-col>
        <ion-col size="1" class="line_case">{{t.BP}}</ion-col>
        <ion-col size="1" class="line_case">{{t.BC}}</ion-col>
       
      </ion-row>
    </ion-grid>
    
  </ion-card-content>
</ion-card>
