<p-card id="data.id" header="{{data.header}}" [style]="stylesCSS">
  <ng-template pTemplate="header">
  </ng-template>
  <p></p>
  <p-chart type="line" [data]="data.data" [options]="data.options"></p-chart>
</p-card>
