<ion-card [ngStyle]="{'background-color': data.bgcolor}" *ngIf="data.data.length > 0">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': data.highlightcolor}">{{data.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': data.highlightcolor}" >{{data.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': data.textcolor, 'font-weight': 'bold'}">

    <ion-grid>
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="4">Ranks</ion-col>
        <ion-col size="1">G</ion-col>
        <ion-col size="1">N</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">BP</ion-col>
        <ion-col size="1">BC</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data">
        <ion-col size="4">{{t.rank}}</ion-col>
        <ion-col size="1">{{t.G}}</ion-col>
        <ion-col size="1">{{t.N}}</ion-col>
        <ion-col size="1">{{t.P}}</ion-col>
        <ion-col size="1">{{t.BP}}</ion-col>
        <ion-col size="1">{{t.BC}}</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card-content>
</ion-card>
