<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  
    

<p-card id="table_soccer_stats" header="Soccer Stats Data" [style]="stylesCSS">
  <ng-template pTemplate="header">
  </ng-template>

  <!--Database -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
      <ion-item>
        <ion-label>Database</ion-label>
        <ion-select placeholder="DB" [(ngModel)]="dbSelected" (ionChange)="selectDB()">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let db of dbs" value="{{db}}">{{db}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <!---->
    <ion-row *ngIf="leagues_list.length > 0">
      <ion-col size="12">
      <ion-item>
        <ion-label>Leagues</ion-label>
        <ion-select placeholder="LEAGUES" [(ngModel)]="leagueSelected" (ionChange)="selectLeague()">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let league of leagues_list" value="{{league.id}}">{{league.id}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <!--Team Home -->
    <ion-row *ngIf="database_data_league && database_data_league.length > 0">
      <ion-col size="12">
      <ion-item>
        <ion-label>Team Home</ion-label>
        <ion-select placeholder="TEAMS" [(ngModel)]="teamHomeSelected">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let team of database_data_league" value="{{team.id}}">{{team.id}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <!--Team Away -->
    <ion-row *ngIf="database_data_league && database_data_league.length > 0">
      <ion-col size="12">
      <ion-item>
        <ion-label>Team Away</ion-label>
        <ion-select placeholder="TEAMS" [(ngModel)]="teamAwaySelected">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let team of database_data_league" value="{{team.id}}">{{team.id}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <!--Team Home KNear -->
    <ion-row *ngIf="database_data_league && database_data_league.length > 0">
      <ion-col size="12">
      <ion-item>
        <ion-label>Team Home KNear</ion-label>
        <ion-select placeholder="TEAMS" [(ngModel)]="teamHomeKNearSelected">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let team of database_data_league" value="{{team.id}}">{{team.id}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
    <!--Team Away KNear -->
    <ion-row *ngIf="database_data_league && database_data_league.length > 0">
      <ion-col size="12">
      <ion-item>
        <ion-label>Team Away KNear</ion-label>
        <ion-select placeholder="TEAMS" [(ngModel)]="teamAwayKNearSelected">
          <ion-select-option value=""></ion-select-option>
          <ion-select-option *ngFor="let team of database_data_league" value="{{team.id}}">{{team.id}}</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Validation-->
  <ion-button expand="block" color="primary" (click)="validation()">Validation</ion-button>
  
  <!-- WIDE TABLE CLASSEMENT TOTAL -->
  
  <ion-card *ngIf="isValidate === true && dbSelected === 'wide_table' && wide_table_total.length > 0">
    <ion-card-header>
    <ion-card-title style="color: #00a651 ">Classement Total</ion-card-title>
    </ion-card-header>
  <ion-grid>
    <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
      <ion-col >Team</ion-col>
      <ion-col>GP</ion-col>
      <ion-col>Pts</ion-col>
      <ion-col>W</ion-col>
      <ion-col>D</ion-col>
      <ion-col>L</ion-col>
      <ion-col>GF</ion-col>
      <ion-col>GA</ion-col>
      <ion-col>WPC</ion-col>
      <ion-col>PYTH</ion-col>
    </ion-row>
    <ion-row style="background-color:black; color: white;" *ngFor="let t of wide_table_total ">
      <ion-col>{{t.Team}}</ion-col>
      <ion-col>{{t.GP}}</ion-col>
      <ion-col>{{t.Pts}}</ion-col>
      <ion-col>{{t.W}}</ion-col>
      <ion-col>{{t.D}}</ion-col>
      <ion-col>{{t.L}}</ion-col>
      <ion-col>{{t.GF}}</ion-col>
      <ion-col>{{t.GA}}</ion-col>
      <ion-col>{{t.WPC}}</ion-col>
      <ion-col>{{t.PYTH}}</ion-col>
    </ion-row>
    </ion-grid>
  </ion-card>
  <!-- WIDE TABLE CLASSEMENT Home Away -->
  
    <ion-card *ngIf="isValidate === true && dbSelected === 'wide_table' && wide_table_home_away.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #fff100 ">Classement Home Away</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#fff100; color: black; font-weight: bold;">
        <ion-col >Team</ion-col>
        <ion-col>GP</ion-col>
        <ion-col>Pts</ion-col>
        <ion-col>W</ion-col>
        <ion-col>D</ion-col>
        <ion-col>L</ion-col>
        <ion-col>GF</ion-col>
        <ion-col>GA</ion-col>
        <ion-col>WPC</ion-col>
        <ion-col>PYTH</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let ha of wide_table_home_away ">
        <ion-col>{{ha.Team}}</ion-col>
        <ion-col>{{ha.GP}}</ion-col>
        <ion-col>{{ha.Pts}}</ion-col>
        <ion-col>{{ha.W}}</ion-col>
        <ion-col>{{ha.D}}</ion-col>
        <ion-col>{{ha.L}}</ion-col>
        <ion-col>{{ha.GF}}</ion-col>
        <ion-col>{{ha.GA}}</ion-col>
        <ion-col>{{ha.WPC}}</ion-col>
        <ion-col>{{ha.PYTH}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

    <!-- RELATIVE FORM CLASSEMENT -->
  
    <ion-card *ngIf="isValidate === true && dbSelected === 'relative_form' && relative_form_data.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #00a651 ">Classement Relative Form</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
        <ion-col >Team</ion-col>
        <ion-col>GP</ion-col>
        <ion-col>Pts</ion-col>
        <ion-col>PPG_ALL</ion-col>
        <ion-col>PPG_LAST8</ion-col>
        <ion-col>RF</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let rf of relative_form_data ">
        <ion-col>{{rf.Team}}</ion-col>
        <ion-col>{{rf.GP}}</ion-col>
        <ion-col>{{rf.Pts}}</ion-col>
        <ion-col>{{rf.ppg_all}}</ion-col>
        <ion-col>{{rf.ppg_last8}}</ion-col>
        <ion-col>{{rf.rel_form}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

    <!-- RELATIVE FORM CLASSEMENT -->
  
    <ion-card *ngIf="isValidate === true && dbSelected === 'relative_performance' && relative_perf_data.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #00a651 ">Classement Relative Performance</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
        <ion-col >Team</ion-col>
        <ion-col>GP</ion-col>
        <ion-col>Pts</ion-col>
        <ion-col>PPG OPPONENTS</ion-col>
        <ion-col>PPG TEAM</ion-col>
        <ion-col>RP</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let rp of relative_perf_data ">
        <ion-col>{{rp.Team}}</ion-col>
        <ion-col>{{rp.GP}}</ion-col>
        <ion-col>{{rp.Pts}}</ion-col>
        <ion-col>{{rp.ppg_opponents}}</ion-col>
        <ion-col>{{rp.ppg_team}}</ion-col>
        <ion-col>{{rp.rel_perf}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

    <!-- RECORD LEADING CLASSEMENT -->
  
    <ion-card *ngIf="isValidate === true && dbSelected === 'record_leading' && record_leading_data.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #00a651 ">Classement Record Leading</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
        <ion-col >Team</ion-col>
        <ion-col>Pts</ion-col>
        <ion-col>W</ion-col>
        <ion-col>D</ion-col>
        <ion-col>L</ion-col>
        <ion-col>GF</ion-col>
        <ion-col>GA</ion-col>
        <ion-col>Percentage</ion-col>
        <ion-col>Avg Pts</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let rl of record_leading_data ">
        <ion-col>{{rl.Team}}</ion-col>
        <ion-col>{{rl.Pts}}</ion-col>
        <ion-col>{{rl.W}}</ion-col>
        <ion-col>{{rl.D}}</ion-col>
        <ion-col>{{rl.L}}</ion-col>
        <ion-col>{{rl.GF}}</ion-col>
        <ion-col>{{rl.GA}}</ion-col>
        <ion-col>{{rl.Percentage}}</ion-col>
        <ion-col>{{rl.Avg_Pts}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

    <!-- RECORD TRAILING CLASSEMENT -->
  
    <ion-card *ngIf="isValidate === true && dbSelected === 'record_trailing' && record_trailing_data.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #00a651 ">Classement Record Trailing</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
        <ion-col >Team</ion-col>
        <ion-col>Pts</ion-col>
        <ion-col>W</ion-col>
        <ion-col>D</ion-col>
        <ion-col>L</ion-col>
        <ion-col>GF</ion-col>
        <ion-col>GA</ion-col>
        <ion-col>Percentage</ion-col>
        <ion-col>Avg Pts</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let rt of record_trailing_data ">
        <ion-col>{{rt.Team}}</ion-col>
        <ion-col>{{rt.Pts}}</ion-col>
        <ion-col>{{rt.W}}</ion-col>
        <ion-col>{{rt.D}}</ion-col>
        <ion-col>{{rt.L}}</ion-col>
        <ion-col>{{rt.GF}}</ion-col>
        <ion-col>{{rt.GA}}</ion-col>
        <ion-col>{{rt.Percentage}}</ion-col>
        <ion-col>{{rt.Avg_Pts}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

    <!-- POINTS WIN AFTER 75 CLASSEMENT -->
  
    <ion-card *ngIf="isValidate === true && dbSelected === 'points_win_after_75' && points_win_after75_data.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #00a651 ">Classement Points win after 75</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
        <ion-col>Team</ion-col>
        <ion-col>GP</ion-col>
        <ion-col>Pts</ion-col>
        <ion-col>Difference</ion-col>
        <ion-col>Pts_Won</ion-col>
        <ion-col>Pts_Lost</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let pw of points_win_after75_data ">
        <ion-col>{{pw.Team}}</ion-col>
        <ion-col>{{pw.GP}}</ion-col>
        <ion-col>{{pw.Pts}}</ion-col>
        <ion-col>{{pw.Difference}}</ion-col>
        <ion-col>{{pw.Pts_Won}}</ion-col>
        <ion-col>{{pw.Pts_Lost}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

     <!-- OVER UNDER FULLTIME CLASSEMENT -->
    <ion-card *ngIf="isValidate === true && dbSelected === 'over_under_fulltime' && over_under_fulltime_data.length > 0">
      <ion-card-header>
      <ion-card-title style="color: #00a651 ">Classement Over Under Fulltime</ion-card-title>
      </ion-card-header>
    <ion-grid>
      <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
        <ion-col>Team</ion-col>
        <ion-col>GP</ion-col>
        <ion-col>AVG</ion-col>
        <ion-col>BTS</ion-col>
        <ion-col>CS</ion-col>
        <ion-col>FTS</ion-col>
        <ion-col>Plus_1_5</ion-col>
        <ion-col>Plus_2_5</ion-col>
        <ion-col>Plus_3_5</ion-col>
      </ion-row>
      <ion-row style="background-color:black; color: white;" *ngFor="let ou of over_under_fulltime_data ">
        <ion-col>{{ou.Team}}</ion-col>
        <ion-col>{{ou.GP}}</ion-col>
        <ion-col>{{ou.AVG}}</ion-col>
        <ion-col>{{ou.BTS}}</ion-col>
        <ion-col>{{ou.CS}}</ion-col>
        <ion-col>{{ou.FTS}}</ion-col>
        <ion-col>{{ou.Plus_1_5}}</ion-col>
        <ion-col>{{ou.Plus_2_5}}</ion-col>
        <ion-col>{{ou.Plus_3_5}}</ion-col>
      </ion-row>
      </ion-grid>
    </ion-card>

       <!-- SEQUENCES CLASSEMENT -->
       <ion-card *ngIf="isValidate === true && dbSelected === 'current_streaks' && current_streaks_data.length > 0">
        <ion-card-header>
        <ion-card-title style="color: #00a651 ">Classement Sequences Current Streaks</ion-card-title>
        </ion-card-header>
      <ion-grid>
        <ion-row style="background-color:#00a651; color: black; font-weight: bold;">
          <ion-col>Team</ion-col>
          <ion-col>W</ion-col>
          <ion-col>D</ion-col>
          <ion-col>L</ion-col>
          <ion-col>No_W</ion-col>
          <ion-col>No_D</ion-col>
          <ion-col>No_L</ion-col>
          <ion-col>No_GF</ion-col>
          <ion-col>No_GA</ion-col>
        </ion-row>
        <ion-row style="background-color:black; color: white;" *ngFor="let cs of current_streaks_data ">
          <ion-col>{{cs.Team}}</ion-col>
          <ion-col>{{cs.W}}</ion-col>
          <ion-col>{{cs.D}}</ion-col>
          <ion-col>{{cs.L}}</ion-col>
          <ion-col>{{cs.No_W}}</ion-col>
          <ion-col>{{cs.No_D}}</ion-col>
          <ion-col>{{cs.No_L}}</ion-col>
          <ion-col>{{cs.No_GF}}</ion-col>
          <ion-col>{{cs.No_GA}}</ion-col>
          
        </ion-row>
        </ion-grid>
      </ion-card>
  

</p-card>

</ion-content>
