<ion-card [ngStyle]="{'background-color': data.bgcolor}" *ngIf="data.data.length > 0">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': data.highlightcolor}">{{data.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': data.highlightcolor}" >{{data.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': data.textcolor, 'font-weight': 'bold'}">

    <ion-grid>
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="4">Name</ion-col>
        <ion-col size="1">GH</ion-col>
        <ion-col size="1">GA</ion-col>
        <ion-col size="1">GT</ion-col>
        <ion-col size="1">AH</ion-col>
        <ion-col size="1">AA</ion-col>
        <ion-col size="1">AT</ion-col>
        <ion-col size="1">XGB</ion-col>
        <ion-col size="1">XGC</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data">
        <ion-col size="4" class="line_case">{{t.player_name}}</ion-col>
        <ion-col size="1" class="line_case">{{t.gh}}</ion-col>
        <ion-col size="1" class="line_case">{{t.ga}}</ion-col>
        <ion-col size="1" class="line_case">{{t.gt}}</ion-col>
        <ion-col size="1" class="line_case">{{t.ah}}</ion-col>
        <ion-col size="1" class="line_case">{{t.aa}}</ion-col>
        <ion-col size="1" [ngStyle]="{'background-color': data.highlightcolor, 'color': 'white'}">{{t.at}}</ion-col>
        <ion-col size="1" [ngStyle]="{'background-color': data.highlightcolor, 'color': 'white'}">{{t.xgb}}</ion-col>
        <ion-col size="1" [ngStyle]="{'background-color': data.highlightcolor, 'color': 'white'}">{{t.xgc}}</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card-content>
</ion-card>
