<ion-card [ngStyle]="{'background-color': data.bgcolor}" *ngIf="data.data.length > 0">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': data.headercolor}">{{data.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': data.headercolor}" >{{data.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': data.textcolor, 'font-weight': 'bold'}">

    <ion-grid *ngIf="data.type === 'general'">
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="6">Team</ion-col>
        <ion-col size="2">Pts</ion-col>
        <ion-col size="1">G</ion-col>
        <ion-col size="1">N</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">Diff</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data" [ngClass]="{'home_selected': t.idTeam === data.idHome, 'away_selected': t.idTeam === data.idAway}">
        <ion-col size="6">{{t.index}} - {{t.team}}</ion-col>
        <ion-col size="2">{{t.Pts}}</ion-col>
        <ion-col size="1">{{t.G}}</ion-col>
        <ion-col size="1">{{t.N}}</ion-col>
        <ion-col size="1">{{t.P}}</ion-col>
        <ion-col size="1">{{t.Diff}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.type === 'handicap'">
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="4">Team</ion-col>
        <ion-col size="1">V>2</ion-col>
        <ion-col size="1">V2</ion-col>
        <ion-col size="1">V1</ion-col>
        <ion-col size="1">D>2</ion-col>
        <ion-col size="1">D2</ion-col>
        <ion-col size="1">D1</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data" [ngClass]="{'home_selected': t.idTeam === data.idHome, 'away_selected': t.idTeam === data.idAway}">
        <ion-col size="4">{{t.index}} - {{t.team}}</ion-col>
        <ion-col size="1">{{t.V2}}</ion-col>
        <ion-col size="1">{{t.V1}}</ion-col>
        <ion-col size="1">{{t.V0}}</ion-col>
        <ion-col size="1">{{t.D2}}</ion-col>
        <ion-col size="1">{{t.D1}}</ion-col>
        <ion-col size="1">{{t.D0}}</ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid *ngIf="data.type === 'pythexpect'">
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="4">Team</ion-col>
        <ion-col size="1">Pts</ion-col>
        <ion-col size="1">G</ion-col>
        <ion-col size="1">N</ion-col>
        <ion-col size="1">P</ion-col>
        <ion-col size="1">Diff</ion-col>
        <ion-col size="1">Exp</ion-col>
        <ion-col size="1">Calc</ion-col>
        <ion-col size="1">Evol</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data" [ngClass]="{'home_selected': t.idTeam === data.idHome, 'away_selected': t.idTeam === data.idAway}">
        <ion-col size="4">{{t.index}} - {{t.team}}</ion-col>
        <ion-col size="1">{{t.Pts}}</ion-col>
        <ion-col size="1">{{t.G}}</ion-col>
        <ion-col size="1">{{t.N}}</ion-col>
        <ion-col size="1">{{t.P}}</ion-col>
        <ion-col size="1">{{t.Diff}}</ion-col>
        <ion-col size="1">{{t.wpc_exp}}</ion-col>
        <ion-col size="1">{{t.wpc_calc}}</ion-col>
        <ion-col size="1">{{t.evol}}</ion-col>
      </ion-row>
    </ion-grid>


  </ion-card-content>
</ion-card>

