<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<div *ngIf="(type ==='ALL' || type ==='CLASS')">
<br>
<app-ficheteam [(data)]="lotoFootData"></app-ficheteam>
</div>

<div *ngIf="(type ==='ALL' || type ==='SYNTH')">
<br>
<app-global
[(dataHome)]="data_whoscored_global_home"
[(dataAway)]="data_whoscored_global_away"
></app-global>
</div>

<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-timing-stat 
[(data)]="globalData">
</app-timing-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="fixturesGoalsForHome"
>
</app-fixtures-stat>
</div>

<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="fixturesGoalsForAway"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="fixturesAttForAgainstHome"
>
</app-fixtures-stat>
</div>

<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="fixturesAttForAgainstAway"
>
</app-fixtures-stat>
</div>

<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="fixturesSorarePointsTotal"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateTime_Home"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateTime_Away"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateGoals_0_Home"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateGoals_0_Away"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateGoals_More_Home"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateGoals_More_Away"
>
</app-fixtures-stat>
</div>


<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateGoals_Less_Home"
>
</app-fixtures-stat>
</div>

<div *ngIf="(type ==='ALL' || type ==='GRAPH')">
<br>
<app-fixtures-stat
[(data)]="gameStateGoals_Less_Away"
>
</app-fixtures-stat>
</div>

<div *ngIf="(type ==='ALL' || type ==='SYNTH')">
<br>
<app-table-players
[(data)]="dataTablePlayers"
></app-table-players>
</div>

<div *ngIf="(type === 'RESUME' && dataResumeHome.id && dataResumeAway.id)">
<br>
<app-resume-stat
[(dataHome)]="dataResumeHome"
[(dataAway)]="dataResumeAway"
>
</app-resume-stat>
</div>

</ion-content>

