.timeLine_position {
  margin-left: 10px;
  position: absolute;
}
.custom-marker {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50%;
    z-index: 1;
  }
  
  ::ng-deep {
    .p-timeline-event-content,
    .p-timeline-event-opposite {
      line-height: 1;
    }
  }
  
  @media screen and (max-width: 960px) {
    ::ng-deep {
      .customized-timeline {
        .p-timeline-event:nth-child(even) {
          flex-direction: row !important;
  
          .p-timeline-event-content {
            text-align: left !important;
          }
        }
  
        .p-timeline-event-opposite {
          flex: 0;
        }
  
        .p-card {
          margin-top: 1rem;
        }
      }
    }
  }
  