<p-card id="data.id" header="{{data.header}}" [style]="stylesCSS">
  <ng-template pTemplate="header">
  </ng-template>

  <p>
    <p-chart type="radar" [data]="data.data" [width]="50" [height]="50" [options]="chartOptions" [style]="stylesRadar"></p-chart>
  </p>


  
</p-card>



