ion-menu-button {
    color: var(--ion-color-primary);
  }
  
  #container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  p {
    color: white;
  }

.match_selected {
    background-color: #00a651;
}

.odd-background {
  background-color: #4a6e21;
  color: white;
}
.even-background {
  background-color: #729553;
  color:white;
}
.increase, .scorer_goals {
  color:yellow;
}
.missing {
  color:red;
}
.scorer_no_goals {
  color: white;
}


