<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <p-card id="table_global_data" header="FB REF" [style]="stylesCSS">
    <ng-template pTemplate="header">
    </ng-template>
    <ion-grid>
      <!-- LEAGUE -->
      <ion-row *ngIf="leagues.length > 0 ">
        <ion-col size="12">
        <ion-item>
          <ion-label>League</ion-label>
          <ion-select placeholder="League" [(ngModel)]="league_selected" (ionChange)="selectLeague(league_selected)">
            <ion-select-option value=""></ion-select-option>
            <ion-select-option *ngFor="let league of leagues" value="{{league}}">{{league.split('-')[0].trim()}}</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list *ngIf="matches_selected.length > 0 ">
      <ion-item button *ngFor="let match of matches_selected">
        <ion-label [ngClass]="{'match_selected': match.id === match_selected.id}" (click)="selectMatch(match.id)">
          <h3 class="center-text">{{extractTeamNames(match.id)}}</h3>
          <p class="center-text"></p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- Résumé tout championnat HA -->
    
    <ion-card *ngIf="home_selected === undefined">
      <ion-card-header>
        <ion-card-title>Series</ion-card-title>
        <ion-card-subtitle>Forme HA</ion-card-subtitle>
      </ion-card-header>
    <ion-card-content *ngIf="home_selected === undefined && alldataclassements !== undefined" [ngStyle]="{'color': '#FFFFFF', 'font-weight': 'bold'}">
      <ion-accordion-group>
        <ion-accordion *ngFor="let key of getObjectKeys(HaFormeLeaguesMap)" value="{{key}}">
          <ion-item slot="header" color="light">
            <ion-label>{{key}}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ion-grid>
              <ion-row [ngStyle]="{'background-color': '#14293a', 'color': 'white'}">
                <ion-col size="2">Team</ion-col>
                <ion-col size="1">Points</ion-col>
                <ion-col size="1">GF</ion-col>
                <ion-col size="1">GA</ion-col>
                <ion-col size="1">XGF</ion-col>
                <ion-col size="1">XGA</ion-col>
                <ion-col size="1">WPC</ion-col>
                <ion-col size="1">PYTH</ion-col>
                <ion-col size="3">Possession</ion-col>
                
              </ion-row>
              <ion-row *ngFor="let item of HaFormeLeaguesMap[key];
               let i = index"
               [ngClass]="{'odd-background': i % 2 !== 0, 'even-background': i % 2 === 0}">
                <ion-col size="2">{{item.name}}</ion-col>
                <ion-col size="1">{{item.series.points}}</ion-col>
                <ion-col size="1">{{item.series.gf}}</ion-col>
                <ion-col size="1">{{item.series.ga}}</ion-col>
                <ion-col size="1">{{item.series.xg_net_for}}</ion-col>
                <ion-col size="1">{{item.series.xg_net_against}}</ion-col>
                <ion-col size="1">{{item.series.wpc}}</ion-col>
                <ion-col size="1">{{item.series.pyth}}</ion-col>
                <ion-col size="3">{{item.series.possession}}</ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </ion-accordion>
        </ion-accordion-group>
    </ion-card-content>
  </ion-card>

  <!-- Résumé tout championnat Home -->
  <ion-card *ngIf="home_selected === undefined">
    <ion-card-header>
      <ion-card-title>Series</ion-card-title>
      <ion-card-subtitle>Forme HOME</ion-card-subtitle>
    </ion-card-header>
  <ion-card-content *ngIf="home_selected === undefined && alldataclassements !== undefined" [ngStyle]="{'color': '#FFFFFF', 'font-weight': 'bold'}">
    <ion-accordion-group>
      <ion-accordion *ngFor="let key of getObjectKeys(HomeFormeLeaguesMap)" value="{{key}}">
        <ion-item slot="header" color="light">
          <ion-label>{{key}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row [ngStyle]="{'background-color': '#14293a', 'color': 'white'}">
              <ion-col size="2">Team</ion-col>
              <ion-col size="1">Points</ion-col>
              <ion-col size="1">GF</ion-col>
              <ion-col size="1">GA</ion-col>
              <ion-col size="1">XGF</ion-col>
              <ion-col size="1">XGA</ion-col>
              <ion-col size="1">WPC</ion-col>
              <ion-col size="1">PYTH</ion-col>
              <ion-col size="3">Possession</ion-col>
            </ion-row>
            <ion-row *ngFor="let item of HomeFormeLeaguesMap[key];
             let i = index"
             [ngClass]="{'odd-background': i % 2 !== 0, 'even-background': i % 2 === 0}">
              <ion-col size="2">{{item.name}}</ion-col>
              <ion-col size="1">{{item.series.points}}</ion-col>
              <ion-col size="1">{{item.series.gf}}</ion-col>
              <ion-col size="1">{{item.series.ga}}</ion-col>
              <ion-col size="1">{{item.series.xg_net_for}}</ion-col>
              <ion-col size="1">{{item.series.xg_net_against}}</ion-col>
              <ion-col size="1">{{item.series.wpc}}</ion-col>
              <ion-col size="1">{{item.series.pyth}}</ion-col>
              <ion-col size="3">{{item.series.possession}}</ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      </ion-accordion-group>
  </ion-card-content>
</ion-card>

<!-- Résumé tout championnat Away -->
<ion-card *ngIf="home_selected === undefined">
  <ion-card-header>
    <ion-card-title>Series</ion-card-title>
    <ion-card-subtitle>Forme AWAY</ion-card-subtitle>
  </ion-card-header>
<ion-card-content *ngIf="home_selected === undefined && alldataclassements !== undefined" [ngStyle]="{'color': '#FFFFFF', 'font-weight': 'bold'}">
  <ion-accordion-group>
    <ion-accordion *ngFor="let key of getObjectKeys(AwayFormeLeaguesMap)" value="{{key}}">
      <ion-item slot="header" color="light">
        <ion-label>{{key}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-grid>
          <ion-row [ngStyle]="{'background-color': '#14293a', 'color': 'white'}">
            <ion-col size="2">Team</ion-col>
            <ion-col size="1">Points</ion-col>
            <ion-col size="1">GF</ion-col>
            <ion-col size="1">GA</ion-col>
            <ion-col size="1">XGF</ion-col>
            <ion-col size="1">XGA</ion-col>
            <ion-col size="1">WPC</ion-col>
            <ion-col size="1">PYTH</ion-col>
            <ion-col size="3">Possession</ion-col>
          </ion-row>
          <ion-row *ngFor="let item of AwayFormeLeaguesMap[key];
           let i = index"
           [ngClass]="{'odd-background': i % 2 !== 0, 'even-background': i % 2 === 0}">
            <ion-col size="2">{{item.name}}</ion-col>
            <ion-col size="1">{{item.series.points}}</ion-col>
            <ion-col size="1">{{item.series.gf}}</ion-col>
            <ion-col size="1">{{item.series.ga}}</ion-col>
            <ion-col size="1">{{item.series.xg_net_for}}</ion-col>
            <ion-col size="1">{{item.series.xg_net_against}}</ion-col>
            <ion-col size="1">{{item.series.wpc}}</ion-col>
            <ion-col size="1">{{item.series.pyth}}</ion-col>
            <ion-col size="3">{{item.series.possession}}</ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-accordion>
    </ion-accordion-group>
</ion-card-content>
</ion-card>

<!-- REPERES -->
<ion-card *ngIf="home_selected === undefined">
  <ion-card-header>
    <ion-card-title>Repères</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="home_selected === undefined" [ngStyle]="{'color': '#FFFFFF', 'font-weight': 'bold'}">
    <ion-accordion-group>
      <ion-accordion *ngFor="let key of getObjectKeys(HaRepereLeagueMap)" value="{{key}}">
        <ion-item slot="header" color="light">
          <ion-label>{{key}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row [ngStyle]="{'background-color': '#14293a', 'color': 'white'}">
              <ion-col size="2">Team</ion-col>
              <ion-col size="2">Name</ion-col>
              <ion-col size="2">Position</ion-col>
              <ion-col size="2">G5</ion-col>
              <ion-col size="1">A5</ion-col>
              <ion-col size="1">MP</ion-col>
              <ion-col size="1">TP</ion-col>
              <ion-col size="1">Status</ion-col>
            </ion-row>
            <ion-row *ngFor="let item of HaRepereLeagueMap[key];
           let i = index"
           [ngClass]="{'odd-background': i % 2 !== 0, 'even-background': i % 2 === 0}">
            <ion-col size="2">{{item.team}}</ion-col>
            <ion-col size="2">{{item.name}}</ion-col>
            <ion-col size="2">{{item.position}}</ion-col>
            <ion-col size="2" [ngClass]="{'scorer_goals': item.goals_last5 > 0 , 'scorer_no_goals': item.goals_last5 === 0}">{{item.goals_last5}}</ion-col>
            <ion-col size="1">{{item.assists_last5}}</ion-col>
            <ion-col size="1">{{item.mp_per_last}}</ion-col>
            <ion-col size="1">{{item.mp_time_last}}</ion-col>
            <ion-col size="1" [ngClass]="{'missing': item.status === 'missing', 'increase': item.status === 'increase'}">{{item.status}}</ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      </ion-accordion-group>
  </ion-card-content>
</ion-card>

<!-- SCORER -->
<ion-card *ngIf="home_selected === undefined">
  <ion-card-header>
    <ion-card-title>Scorers</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="home_selected === undefined" [ngStyle]="{'color': '#FFFFFF', 'font-weight': 'bold'}">
    <ion-accordion-group>
      <ion-accordion *ngFor="let key of getObjectKeys(HaScorerLeagueMap)" value="{{key}}">
        <ion-item slot="header" color="light">
          <ion-label>{{key}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-grid>
            <ion-row [ngStyle]="{'background-color': '#14293a', 'color': 'white'}">
              <ion-col size="2">Team</ion-col>
              <ion-col size="2">Name</ion-col>
              <ion-col size="2">Position</ion-col>
              <ion-col size="1">Games</ion-col>
              <ion-col size="1">Minutes</ion-col>
              <ion-col size="1">G</ion-col>
              <ion-col size="1">A</ion-col>
              <ion-col size="1">G5</ion-col>
              <ion-col size="1">A5</ion-col>
            </ion-row>
            <ion-row *ngFor="let item of HaScorerLeagueMap[key];
           let i = index"
           [ngClass]="{'odd-background': i % 2 !== 0, 'even-background': i % 2 === 0}">
            <ion-col size="2">{{item.team}}</ion-col>
            <ion-col size="2">{{item.name}}</ion-col>
            <ion-col size="2">{{item.position}}</ion-col>
            <ion-col size="1">{{item.games}}</ion-col>
            <ion-col size="1">{{item.minutes}}</ion-col>
            <ion-col size="1">{{item.goals}}</ion-col>
            <ion-col size="1">{{item.assists}}</ion-col>
            <ion-col size="1" [ngClass]="{'scorer_goals': item.goals_last5 > 0 , 'scorer_no_goals': item.goals_last5 === 0}">{{item.goals_last5}}</ion-col>
            <ion-col size="1">{{item.assists_last5}}</ion-col>
          </ion-row>
          </ion-grid>
        </div>
      </ion-accordion>
      </ion-accordion-group>
  </ion-card-content>
</ion-card>
   

    <ion-card-content *ngIf="home_selected !== undefined" [ngStyle]="{'color': '#FFFFFF', 'font-weight': 'bold'}">
      <ion-grid>
        <ion-row [ngStyle]="{'background-color': '#004978', 'color': 'white'}">
          <ion-col size="2">{{home_selected.team}}</ion-col>
          <ion-col size="1">Rank</ion-col>
          <ion-col size="1">Score</ion-col>
          <ion-col size="1">Possession</ion-col>
          <ion-col size="1">Recover</ion-col>
          <ion-col size="1">Intercept</ion-col>
          <ion-col size="1">Tacles</ion-col>
          <ion-col size="1">Duels</ion-col>
          <ion-col size="1">Centres</ion-col>
        </ion-row>
        <ion-row *ngFor="let t of home_selected.last_h_a" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
          <ion-col size="2" class="line_case">{{t.name_opponent}}</ion-col>
          <ion-col size="1" class="line_case">{{t.class_gen_opponent}}</ion-col>
          <ion-col size="1" class="line_case">{{t.GF}} - {{t.GA}}</ion-col>
          <ion-col size="1" class="line_case">{{t.possession}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.ball_recoveries}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.interceptions}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.tackles}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.aerials_won}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.crosses}}</ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-grid>
        <ion-row [ngStyle]="{'background-color': '#ea8a26', 'color': 'white'}">
          <ion-col size="2">{{away_selected.team}}</ion-col>
          <ion-col size="1">Rank</ion-col>
          <ion-col size="1">Score</ion-col>
          <ion-col size="1">Possession</ion-col>
          <ion-col size="1">Recover</ion-col>
          <ion-col size="1">Intercept</ion-col>
          <ion-col size="1">Tacles</ion-col>
          <ion-col size="1">Duels</ion-col>
          <ion-col size="1">Centres</ion-col>
        </ion-row>
        <ion-row *ngFor="let t of away_selected.last_h_a" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
          <ion-col size="2" class="line_case">{{t.name_opponent}}</ion-col>
          <ion-col size="1" class="line_case">{{t.class_gen_opponent}}</ion-col>
          <ion-col size="1" class="line_case">{{t.GF}} - {{t.GA}}</ion-col>
          <ion-col size="1" class="line_case">{{t.possession}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.ball_recoveries}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.interceptions}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.tackles}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.aerials_won}}</ion-col>
          <ion-col size="1" class="line_case">{{t.resume.crosses}}</ion-col>
        </ion-row>
      </ion-grid>

      <!-- PLAYERS HOME -->
      <ion-grid>
        <ion-row [ngStyle]="{'background-color': '#004978', 'color': 'white'}">
          <ion-col size="2">Player</ion-col>
          <ion-col size="1">Position</ion-col>
          <ion-col size="1">GP</ion-col>
          <ion-col size="1">Time</ion-col>
          <ion-col size="1">W</ion-col>
          <ion-col size="1">D</ion-col>
          <ion-col size="1">L</ion-col>
          <ion-col size="1">GP_PER</ion-col>
          <ion-col size="1">Time_PER</ion-col>
          <ion-col size="1">W_PER</ion-col>
        </ion-row>
        <ion-row *ngFor="let t of home_selected.players | keyvalue" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
          <ion-col size="2" class="line_case">{{t.key}} </ion-col>
          <ion-col size="1" class="line_case">{{t.value.position}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_played}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.total_time}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_won}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_draw}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_lost}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.percentage_matches_played}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.percentage_time_played}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.percentage_wins}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row [ngStyle]="{'background-color': '#004978', 'color': 'white'}">
            <ion-col size="2">Player</ion-col>
            <ion-col size="1">POS</ion-col>
            <ion-col size="1">BUT</ion-col>
            <ion-col size="1">Ball</ion-col>
            <ion-col size="1">Pass</ion-col>
            <ion-col size="1">Recup</ion-col>
            <ion-col size="1">Perte</ion-col>
            <ion-col size="1">Duel</ion-col>
            <ion-col size="1">Centre</ion-col>
            <ion-col size="1">GP_PER</ion-col>
            <ion-col size="1">Time_PER</ion-col>
          </ion-row>
          <ion-row *ngFor="let t of home_selected.players | keyvalue" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
            <ion-col *ngIf="t.value.last_goals > 0" size="2" class="line_case">{{t.key}} </ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.position}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_goals}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_touches_ball}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_passes_completed}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_ball_recoveries}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_dispossessed}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_aerials_won}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_crosses}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_percentage_matches_played}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_percentage_time_played}}</ion-col>
          </ion-row>
        </ion-grid>

         <!-- PLAYERS AWAY -->
      <ion-grid>
        <ion-row [ngStyle]="{'background-color': '#ea8a26', 'color': 'white'}">
          <ion-col size="2">Player</ion-col>
          <ion-col size="1">Position</ion-col>
          <ion-col size="1">GP</ion-col>
          <ion-col size="1">Time</ion-col>
          <ion-col size="1">W</ion-col>
          <ion-col size="1">D</ion-col>
          <ion-col size="1">L</ion-col>
          <ion-col size="1">GP_PER</ion-col>
          <ion-col size="1">Time_PER</ion-col>
          <ion-col size="1">W_PER</ion-col>
        </ion-row>
        <ion-row *ngFor="let t of away_selected.players | keyvalue" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
          <ion-col size="2" class="line_case">{{t.key}} </ion-col>
          <ion-col size="1" class="line_case">{{t.value.position}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_played}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.total_time}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_won}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_draw}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.matches_lost}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.percentage_matches_played}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.percentage_time_played}}</ion-col>
          <ion-col size="1" class="line_case">{{t.value.percentage_wins}}</ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
          <ion-row [ngStyle]="{'background-color': '#ea8a26', 'color': 'white'}">
            <ion-col size="2">Player</ion-col>
            <ion-col size="1">POS</ion-col>
            <ion-col size="1">BUT</ion-col>
            <ion-col size="1">Ball</ion-col>
            <ion-col size="1">Pass</ion-col>
            <ion-col size="1">Recup</ion-col>
            <ion-col size="1">Perte</ion-col>
            <ion-col size="1">Duel</ion-col>
            <ion-col size="1">Centre</ion-col>
            <ion-col size="1">GP_PER</ion-col>
            <ion-col size="1">Time_PER</ion-col>
          </ion-row>
          <ion-row *ngFor="let t of away_selected.players | keyvalue" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
            <ion-col *ngIf="t.value.last_goals > 0" size="2" class="line_case">{{t.key}} </ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.position}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_goals}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_touches_ball}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_passes_completed}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_ball_recoveries}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_dispossessed}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_aerials_won}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_crosses}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_percentage_matches_played}}</ion-col>
            <ion-col *ngIf="t.value.last_goals > 0" size="1" class="line_case">{{t.value.last_percentage_time_played}}</ion-col>
          </ion-row>
        </ion-grid>

      <!-- KNEAR TEAM HOME -->
      <ion-grid>
        <ion-row [ngStyle]="{'background-color': '#004978', 'color': 'white'}">
          <ion-col size="2">Team</ion-col>
          <ion-col size="1">Distance</ion-col>
        </ion-row>
        <ion-row *ngFor="let t of home_selected.k_near_team_last_result" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
          <ion-col size="2" class="line_case">{{t[0]}} </ion-col>
          <ion-col size="1" class="line_case">{{t[1] | number:'1.2-2'}}</ion-col>
        </ion-row>
      </ion-grid>
     
       <!-- KNEAR TEAM AWAY -->
       <ion-grid>
        <ion-row [ngStyle]="{'background-color': '#ea8a26', 'color': 'white'}">
          <ion-col size="2">Team</ion-col>
          <ion-col size="1">Distance</ion-col>
        </ion-row>
        <ion-row *ngFor="let t of away_selected.k_near_team_last_result" [ngStyle]="{'background-color': '#333', 'color': 'white'}">
          <ion-col size="2" class="line_case">{{t[0]}} </ion-col>
          <ion-col size="1" class="line_case">{{t[1] | number:'1.2-2'}}</ion-col>
        </ion-row>
      </ion-grid>
     
      
    </ion-card-content>
    

  </p-card>
</ion-content>
