<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-item>
           <ion-label>Calendar</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime #datetime
                id="datetime"
                presentation="date"
                [showDefaultButtons]="true"
                doneText="Valider"
                cancelText="Annuler"
                [isDateEnabled]="nextDays"
                [(ngModel)]="startDay"
                (ionChange)="selectDate()">
            </ion-datetime>
              </ng-template>
            </ion-modal>
        </ion-item>
        <ion-item>
          <ion-label>Leagues</ion-label>
          <ion-select placeholder="League"  [(ngModel)]="leagueSelected" (ionChange)="selectLeague()">
            <ion-select-option value="All">All</ion-select-option>
            <ion-select-option *ngFor="let league of leagues" value="{{league}}">{{league}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Time</ion-label>
          <ion-select placeholder="Time" [(ngModel)]="matchsSelected" (ionChange)="selectMatchs()">
            <ion-select-option *ngFor="let time of times" value="{{time.key}}">{{time.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Type</ion-label>
          <ion-select placeholder="Type" [(ngModel)]="typeSelected" (ionChange)="selectTypes()">
            <ion-select-option *ngFor="let type of types" value="{{type}}">{{type}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Home's ID</ion-label>
          <ion-input [(ngModel)]="homeid" type="number" placeholder="Enter home's id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Away's ID</ion-label>
          <ion-input [(ngModel)]="awayid" type="number" placeholder="Enter away's id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label><ion-button color="warning" (click)="reset()">Reset</ion-button>
          </ion-label>
          <ion-button color="danger" (click)="validation()">Validation</ion-button>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
<ion-list>
  
  <ion-item button *ngFor="let match of dataNextMatchesFilter" (click)="navigateToFixtureMatch(match.home,match.away)">
    <ion-label>
      <h3 class="center-text">{{match.home.title}} ({{match.home.id}}) - {{match.away.title}} ({{match.away.id}})</h3>
      <p class="center-text">Date : {{match.dateMatch}}</p>
    </ion-label>
  </ion-item>
  
</ion-list>


  </div>
</ion-content>
