.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-loading.custom-loading {
    --background: #e3edff;
    --spinner-color: #1c6dff;
      color: #1c6dff;
  }


