.entete_info_card_home {
  height: 40px;
  width: 100%;
  background-color: #ea8a26;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.entete_info_card_away {
  height: 40px;
  width: 100%;
  background-color: #004978;
  color: white;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}


.info_left {
  float: left;
  margin-left: 15px;
  font-size: 15px;
}
.info_right {
float: right;
margin-right: 15px;
font-size: 15px;
 font-weight: bold;
}
