<p-card id="info" header="" [style]="stylesInfoHome">
  <ng-template pTemplate="header">
  </ng-template>
  <div id="entete_info_card_home" class="entete_info_card_home">Lille</div>
  <span class="info_left"><span style="font-weight: bold;">Lille</span> - <span>VA</span></span><span class="info_right">2-1</span>
  </p-card>
  
  <br>
  
  <p-card id="info" header="" [style]="stylesInfoAway">
    <ng-template pTemplate="header">
    </ng-template>
    <div id="entete_info_card_away" class="entete_info_card_away">Nîmes</div>
    <span class="info_left"><span>Ajaccio AC</span> - <span style="font-weight: bold;">Nîmes</span></span><span class="info_right">2-1</span>
  </p-card>