<ion-card [ngStyle]="{'background-color': data.bgcolor}" *ngIf="data.data.length > 0">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': data.headercolor}">{{data.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': data.headercolor}" >{{data.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': data.textcolor, 'font-weight': 'bold'}">

    <ion-grid>
      <ion-row [ngStyle]="{'background-color': data.headercolor, 'color': 'black'}">
        <ion-col size="4">Against</ion-col>
        <ion-col size="2">Rank</ion-col>
        <ion-col size="1">MT</ion-col>
        <ion-col size="1">FT</ion-col>
        <ion-col size="1">BC</ion-col>
        <ion-col size="1">BCM</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of data.data">
        <ion-col size="4" class="line_case">{{t.against_name}}</ion-col>
        <ion-col size="2" class="line_case">{{t.against_rank}}</ion-col>
        <ion-col size="1" [ngClass]="{'deuce_case': t.own_gf_mt === t.against_gf_mt, 'win_case':t.own_gf_mt > t.against_gf_mt, 'lose_case':t.own_gf_mt < t.against_gf_mt}">{{t.own_gf_mt}} - {{t.against_gf_mt}}</ion-col>
        <ion-col size="1" [ngClass]="{'deuce_case': t.own_gf_ft === t.against_gf_ft, 'win_case':t.own_gf_ft > t.against_gf_ft, 'lose_case':t.own_gf_ft < t.against_gf_ft}">{{t.own_gf_ft}} - {{t.against_gf_ft}}</ion-col>
        <ion-col size="1" class="line_case">{{t.own_big_chance}}</ion-col>
        <ion-col size="1" class="line_case">{{t.own_big_chance_missed}}</ion-col>
      </ion-row>
    </ion-grid>
    
  </ion-card-content>
</ion-card>

