.win_case {
    background-color: #00a651;
}
.deuce_case {
    background-color: #7e94ae;
}
.lose_case {
    background-color: #ee1c25;
}

.line_case {
    background-color: #004978;
    color: white;
}