<p-card id="knob_goals" header="Générales" [style]="stylesCSS">
    <ng-template pTemplate="header">
    </ng-template>
    <ion-grid>
       
        <ion-row>
          <ion-col style="text-align:center;">
            <h5>Goals</h5>
            <p-badge [value]="dataHome.goals" size="xlarge"></p-badge>
          </ion-col>
          <ion-col style="text-align:center;">
            <h5>Goals</h5>
            <p-badge [value]="dataAway.goals" severity="warning" size="xlarge"></p-badge>
          </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="text-align:center;">
              <h5>XGChain</h5>
              <p-badge [value]="dataHome.xgChain" size="xlarge"></p-badge>
            </ion-col>
            <ion-col style="text-align:center;">
              <h5>XGChain</h5>
              <p-badge [value]="dataAway.xgChain" severity="warning" size="xlarge"></p-badge>
            </ion-col>
            </ion-row>

            <ion-row>
              <ion-col style="text-align:center;">
                <h5>XGBuildup</h5>
                <p-badge [value]="dataHome.xgBuildup" size="xlarge"></p-badge>
              </ion-col>
              <ion-col style="text-align:center;">
                <h5>XGBuildup</h5>
                <p-badge [value]="dataAway.xgBuildup" severity="warning" size="xlarge"></p-badge>
              </ion-col>
              </ion-row>

              <ion-row>
                <ion-col style="text-align:center;">
                  <h5>Sorare Points</h5>
                  <p-badge [value]="dataHome.points" size="xlarge"></p-badge>
                </ion-col>
                <ion-col style="text-align:center;">
                  <h5>Sorare Points</h5>
                  <p-badge [value]="dataAway.points" severity="warning" size="xlarge"></p-badge>
                </ion-col>
                </ion-row>
        
    </ion-grid>
</p-card>
