<p-card id="table_players_stats" header="Top Players Stats" [style]="stylesCSS">
  <ng-template pTemplate="header">
  </ng-template>

  <!-- Aggression -->
  <ion-grid>
    <ion-row style="background-color:black; color: white ;">
      <ion-col>
        Player
      </ion-col>
      <ion-col>
        Team
      </ion-col>
      <ion-col>
        Aggression
      </ion-col>
    </ion-row>

    <!--Lines -->
    <ion-row *ngFor="let ag of data.aggression" style="font-weight: bold; background-color: #FFFFFF; border-width: 1rem;">
      <ion-col>{{ag.player_name}}</ion-col>
      <ion-col>{{ag.player_team}}</ion-col>
      <ion-col>
        <p-badge [value]="ag.yellow" severity="warning"></p-badge>
        <span style="margin-left: 20px;"></span>
        <p-badge [value]="ag.red" severity="danger"></p-badge>
      </ion-col>
    </ion-row>
    </ion-grid>

  <!-- Shots Per Game -->
  <ion-grid>
    <ion-row style="background-color:black; color: white ;">
      <ion-col>
        Player
      </ion-col>
      <ion-col>
        Team
      </ion-col>
      <ion-col>
        Shots PG
      </ion-col>
    </ion-row>

    <!--Lines -->
    <ion-row *ngFor="let shPG of data.shotsPerGame" style="font-weight: bold; background-color: #FFFFFF; border-width: 1rem;">
      <ion-col>{{shPG.player_name}}</ion-col>
      <ion-col>{{shPG.player_team}}</ion-col>
      <ion-col>
        <p-badge [value]="shPG.shots_per_game | number:'0.2'" severity="info"></p-badge>
        <span style="margin-left: 20px;"></span>
        <p-badge [value]="shPG.goals" severity="success"></p-badge>
       </ion-col>
    </ion-row>
    </ion-grid>

     <!-- Assists -->
  <ion-grid>
    <ion-row style="background-color:black; color: white ;">
      <ion-col>
        Player
      </ion-col>
      <ion-col>
        Team
      </ion-col>
      <ion-col>
        Assists / XGChain
      </ion-col>
    </ion-row>

    <!--Lines -->
    <ion-row *ngFor="let assist of data.assists" style="font-weight: bold; background-color: #FFFFFF; border-width: 1rem;">
      <ion-col>{{assist.player_name}}</ion-col>
      <ion-col>{{assist.player_team}}</ion-col>
      <ion-col>
        <p-badge [value]="assist.assist | number:'0.2'" severity="info"></p-badge>
        <span style="margin-left: 20px;"></span>
        <p-badge [value]="assist.xgchain | number:'0.2' " severity="success"></p-badge>
       </ion-col>
    </ion-row>
    </ion-grid>

    <!-- Goals -->
  <ion-grid>
    <ion-row style="background-color:black; color: white ;">
      <ion-col>
        Player
      </ion-col>
      <ion-col>
        Team
      </ion-col>
      <ion-col>
        Goals / XGChain
      </ion-col>
    </ion-row>

    <!--Lines -->
    <ion-row *ngFor="let goal of data.goals" style="font-weight: bold; background-color: #FFFFFF; border-width: 1rem;">
      <ion-col>{{goal.player_name}}</ion-col>
      <ion-col>{{goal.player_team}}</ion-col>
      <ion-col>
        <p-badge [value]="goal.goals | number:'0.2'" severity="info"></p-badge>
        <span style="margin-left: 20px;"></span>
        <p-badge [value]="goal.xgchain | number:'0.2' " severity="success"></p-badge>
       </ion-col>
    </ion-row>
    </ion-grid>


</p-card>


