<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-item>
        <ion-label>{{dataHome.title}}</ion-label>
        <ion-select placeholder="Day" [(ngModel)]="dayHomeSelected" (ionChange)="selectDayHome()">
          <ion-select-option *ngFor="let dayH of daysHome" value="{{dayH}}"> J - {{dayH}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>{{dataAway.title}}</ion-label>
        <ion-select placeholder="Day" [(ngModel)]="dayAwaySelected" (ionChange)="selectDayAway()">
          <ion-select-option *ngFor="let dayA of daysAway" value="{{dayA}}"> J - {{dayA}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label><ion-button color="warning" (click)="reset()">Reset</ion-button>
        </ion-label>
        <ion-button color="success" (click)="validation()">Validation</ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>


<!-- Formations -->
<!-- HOME-->
<ion-card [ngStyle]="{'background-color': styleArrayHome.bgcolor}" *ngIf="formationHome">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayHome.highlightcolor}">{{styleArrayHome.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayHome.highlightcolor}" >Formation {{dataHome.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayHome.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Type</ion-col>
        <ion-col size="2">Time</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">xG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of formationHome">
        <ion-col size="2">{{t.type}}</ion-col>
        <ion-col size="2">{{t.time}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{t.xg | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
<!-- AWAY -->
<ion-card [ngStyle]="{'background-color': styleArrayAway.bgcolor}" *ngIf="formationAway">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayAway.highlightcolor}">{{styleArrayAway.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayAway.highlightcolor}" >Formation {{dataAway.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayAway.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Type</ion-col>
        <ion-col size="2">Time</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">xG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of formationAway">
        <ion-col size="2">{{t.type}}</ion-col>
        <ion-col size="2">{{t.time}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{t.xg | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>

<!-- Timing -->
<!-- HOME-->
<ion-card [ngStyle]="{'background-color': styleArrayHome.bgcolor}" *ngIf="timingHome">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayHome.highlightcolor}">{{styleArrayHome.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayHome.highlightcolor}" >Timing {{dataHome.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayHome.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Type</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">xG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of timingHome">
        <ion-col size="2">{{t.type}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{t.xg | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
<!-- AWAY -->
<ion-card [ngStyle]="{'background-color': styleArrayAway.bgcolor}" *ngIf="timingAway">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayAway.highlightcolor}">{{styleArrayAway.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayAway.highlightcolor}" >Timing {{dataAway.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayAway.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Type</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">xG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of timingAway">
        <ion-col size="2">{{t.type}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{t.xg | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>

<!-- Situation -->
<!-- HOME-->
<ion-card [ngStyle]="{'background-color': styleArrayHome.bgcolor}" *ngIf="situationHome">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayHome.highlightcolor}">{{styleArrayHome.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayHome.highlightcolor}" >Situation {{dataHome.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayHome.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Type</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">xG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of situationHome">
        <ion-col size="2">{{t.type}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{t.xg | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>

<!-- AWAY -->
<ion-card [ngStyle]="{'background-color': styleArrayAway.bgcolor}" *ngIf="situationAway">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayAway.highlightcolor}">{{styleArrayAway.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayAway.highlightcolor}" >Situation {{dataAway.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayAway.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Type</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">xG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of situationAway">
        <ion-col size="2">{{t.type}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{t.xg | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>


<!-- Roster -->

<!-- HOME-->
<ion-card [ngStyle]="{'background-color': styleArrayHome.bgcolor}" *ngIf="rosterHome">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayHome.highlightcolor}">{{styleArrayHome.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayHome.highlightcolor}" >Roster {{dataHome.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayHome.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
      <ion-row>
        <ion-col size="2">Name</ion-col>
        <ion-col size="2">Time</ion-col>
        <ion-col size="2">Shots</ion-col>
        <ion-col size="2">Goals</ion-col>
        <ion-col size="2">Assists</ion-col>
        <ion-col size="2">XG</ion-col>
      </ion-row>
      <ion-row *ngFor="let t of rosterHome">
        <ion-col size="2">{{t.player_name}}</ion-col>
        <ion-col size="2">{{t.time}}</ion-col>
        <ion-col size="2">{{t.shots}}</ion-col>
        <ion-col size="2">{{t.goals}}</ion-col>
        <ion-col size="2">{{ calculateSum(t.assists, t.key_passes)}}</ion-col>
        <ion-col size="2">{{t.xG | number: '1.2-2'}}</ion-col>  
      </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>
<!-- AWAY -->
<ion-card [ngStyle]="{'background-color': styleArrayAway.bgcolor}" *ngIf="rosterAway">
  <ion-card-header>
    <ion-card-subtitle [ngStyle]="{'color': styleArrayAway.highlightcolor}">{{styleArrayAway.subtitle}}</ion-card-subtitle>
    <ion-card-title [ngStyle]="{'color': styleArrayAway.highlightcolor}" >Roster {{dataAway.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content [ngStyle]="{'color': styleArrayAway.textcolor, 'font-weight': 'bold'}">
  <ion-grid>
    <ion-row>
      <ion-col size="2">Name</ion-col>
      <ion-col size="2">Time</ion-col>
      <ion-col size="2">Shots</ion-col>
      <ion-col size="2">Goals</ion-col>
      <ion-col size="2">Assists</ion-col>
      <ion-col size="2">XG</ion-col>
    </ion-row>
    <ion-row *ngFor="let t of rosterAway">
      <ion-col size="2">{{t.player_name}}</ion-col>
      <ion-col size="2">{{t.time}}</ion-col>
      <ion-col size="2">{{t.shots}}</ion-col>
      <ion-col size="2">{{t.goals}}</ion-col>
      <ion-col size="2">{{ calculateSum(t.assists, t.key_passes)}}</ion-col>
      <ion-col size="2">{{t.xG | number: '1.2-2'}}</ion-col>  
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-card>