
<app-classementcard [(data)]="data.dataClassementGeneral"></app-classementcard>
<app-classementcard [(data)]="data.dataClassementDomicile"></app-classementcard>
<app-classementcard [(data)]="data.dataClassementExterieur"></app-classementcard>
<app-classementcard [(data)]="data.dataClassementHandicap"></app-classementcard>
<app-classementcard [(data)]="data.dataClassementPythagoreanExpectation"></app-classementcard>
<app-lastmatchescard [(data)]="data.dataLastMatchHome"></app-lastmatchescard>
<app-lastmatchescard [(data)]="data.dataLastMatchAway"></app-lastmatchescard>
<app-bestscorercard [(data)]="data.dataBestScorerHome"></app-bestscorercard>
<app-bestscorercard [(data)]="data.dataBestScorerAway"></app-bestscorercard>
<app-bestassistcard [(data)]="data.dataBestAssistHome"></app-bestassistcard>
<app-bestassistcard [(data)]="data.dataBestAssistAway"></app-bestassistcard>
<app-syntheserankcard [(data)]="data.dataSyntheseHome"></app-syntheserankcard>
<app-syntheserankcard [(data)]="data.dataSyntheseAway"></app-syntheserankcard>
<app-knearestcard [(data)]="data.dataKNearestHome"></app-knearestcard>
<app-knearestcard [(data)]="data.dataKNearestAway"></app-knearestcard>